# vim related ignores
*.swp
.lvimrc

# emacs related ignores
*#*#
*.#*#
.#*
*~

# git related ignores
*.rej
*.orig
.git-module-status

# project related ignores
*.tgz
*.bin
/test-addon/usr/**
/TEST10/files/tmp/*
/TEST10/files/etc/frontview/addons/bin/TEST10/*
/TEST10/files/etc/frontview/addons/ui/TEST10/*
/TEST10/files/etc/frontview/apache/addons/*
